/* Add styles for highlight post here */

.most_liked_post::before {
    content: "Top Answer";
    padding-left: 40px;
    line-height: 60px;
    width: 100%;
    font-family: "NHaasGroteskDSStd-65Md"!important;
    font-size: 30px;
    display: inline-block;
    color: #ED2E30;
    border-left: 10px solid;
}
